<template>
    <div>
      <v-card v-if="blog.id">
        <v-img
          :src="blog.image"
          class="white--text"
          height="400px"
        >
          <v-card-title
            class="fill-height align-end"
            v-text="blog.title"
          >
          </v-card-title>
        </v-img>

        <v-card-text>
          Description: <br>
          {{ blog.description }}
        </v-card-text>
      </v-card>
    </div>
</template>

<script>

    export default {
        data: () => ({
          blog: {},//suatu objek campaign, bukan kumpulan objek
        }),
        created(){
          this.go()
        },
        methods : {
          go(){
            let { id } = this.$route.params
            let url = '/api/blog/'+id
            axios.get(url)
            .then((response) => {
                let { data } = response.data
                this.blog = data.blog
            })
            .catch((error) => {
                let { response } = error
                console.log(response)
            })
          },

        }
    };
</script>